body {
    background-color: #000075;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 3em;
    color: #FFF;
    text-align: center;
}
.formulaire {
    background-color: #FFF;
    width: 500px;
    margin: 0px auto;
    padding: 10px;

} 
.username input, .password input {
    width: 90%;
    font-size: 20px;
    padding: 10px;
}
.password, .btn {
margin: 20px 0;
}
button {
    background-color: #000075;
    color: #FFF;
    font-size: 25px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    
}

